.deleteModal{
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgb(0,0,0,0.9);
    z-index: 99;
}
.container{
    position: absolute;
    width: 350px; height: 600px;
    left: 40%; top: 40%;
    color:white;
}
.userDeleteBtn {
    margin-top: 20px;
    width: 100px;
    height: 45px;
    border-radius: 12px;
}