.login-Frame {
  margin: 0 auto;
  width: 528px;
  height: 607px;
  text-align: center;
}
.login-title {
  float: left;
  line-height: 2;
}
.login-MainTitle {
  margin-top: 20px;
  margin-bottom: 20px;
}
.login-Controll {
  display: block;
  width: 500px;
  padding: .375rem .75rem;
  font-weight: 400;
  line-height: 5px;
  border-radius: .25rem;
}
.login-interbal {
  margin-bottom: 60px;
  margin-top: 60px;
}
.login-bottom-interbal {
  margin-bottom: 30px;
}
.login-alert-box {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}
.login-button {
  width: 300px;
  height: 40px;
  margin-top: 20px;
}
.login-Signup-button {
  width: 300px;
  height: 40px;
  margin-top: 20px;
}