#sea{
    height: 80px;
/* background-color: #ccc; */
}
.boardname{
    display: inline-block;
    font-size: 28px;
    line-height: 80px;
    padding: 0 20px;
    width: 100px;
}
.boardinfo{
    display: inline-block;
    color: #555;
    width: 300px;
    font-size: 14px;
}
#inp{
    width: 250px;
    height: 30px;
    margin-left: 50px;
    /* vertical-align: middle; */
}
#sear{
    /* vertical-align: middle; */
    background: none  ;
    border: 1px solid black;
    border-left: none;
    height: 34px;
    width: 50px;
}