.signframe {
  margin: 0 auto;
  width: 528px;
}
.SignUp-MainTitle {
  margin-top: 20px;
  margin-bottom: 20px;
}
.signuptitle {
  float: left;
}
.signupalert-box {
  color:rgb(238, 72, 72);
  margin-top: 30px;
}
.SignUpCheckalert-box {
  color:rgb(238, 72, 72);
  margin-top: 10px;
  margin-right: 70px;
  position: absolute;
}
.SignUp-Controll {
  clear: both;
  display: block;
  width: 500px;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: .25rem;
}
.SignUp-interbal {
  margin-bottom: 40px;
}
.SignUp-button {
  float: right;
  width: 15%;
  margin-bottom: 5px;
}
.SignUp-button-result {
  width: 300px;
  height: 40px;
  margin-top: 20px;
}